annotated-types
anyio
asttokens
backcall
click
colorama
comm
cramjam
cycler
debugpy
decorator
exceptiongroup
executing
fastapi
fastparquet
fonttools
fsspec
h11
idna
importlib-metadata
importlib-resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
scikit-learn
scipy
seaborn
six
sniffio
stack-data
starlette
threadpoolctl
tornado
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
zipp
