annotated-types
anyio
click
colorama
contourpy
cramjam
cycler
exceptiongroup
fastapi
fastparquet
fonttools
fsspec
h11
idna
importlib-resources
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
Pillow
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
zipp
